<md-dialog class="md-primary">
   <md-content class="md-padding">
      <form>
        <div layout layout-sm="column">
           <md-input-container flex>
             <label for="name">Nome</label>
             <input type="text" id="name" data-ng-model="device.name" required="">
            </md-input-container>
            <md-input-container flex>
              <label for="descrizione">Descrizione</label>
              <input id="descrizione" data-ng-model="device.description" required="">
            </md-input-container>
           </div>
           <md-input-container flex>
              <label>Tipo</label>
              <md-select data-ng-model="device.io" data-ng-change="cambia_tipo()">
                <md-option value="input">Input</md-option>
                <md-option value="output">Output</md-option>
              </md-select>
            </md-input-container>
             <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Io</label>
                  <md-select data-ng-model="device.type" required>
                    <md-option data-ng-repeat="io in ios|IOFilter:device.io" value="{{io.name}}">{{io.name}}</option>
                  </md-select>
                 </md-input-container>
                    <div class="md-actions" layout="row"> <span flex></span><md-button class="md-container" ng-click="add()">aggiungi </md-button></div></md-dialog>
