
<div layout="row" layout-xs="column">
    <div flex-xs flex-gt-xs="50" layout="column">
  <md-card>

    <md-card-content>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Benvenuti in Proximity Solutions</span><br>
          <span class="md-subhead">L'Applicazione che ti permette di svolgere piccole azioni di domotica</span>
        </md-card-title-text>
        <md-card-title-media>
          <div>
            <img src="img/ibeacon.png" class="md-media-lg card-media" alt="image caption"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card-content>
    </md-card>
  <div ng-if="!user">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Che cosa stai aspettando?</span>
            <span class="md-subhead">Loggati subito!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/login">Login</md-button><i class="material-icons">account_circle</i>
        </md-card-actions>
      </md-card>
    </div>
    <div ng-if="user">
        <md-card>
          <md-toolbar>
            <p class="bianco">Ciao {{user.firstname}}!</p>
          </md-toolbar>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"> vuoi disconnetterti?</span>
              <span class="md-subhead">Clicca su logout!</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button href="#/login">Logout</md-button><i class="material-icons">account_circle</i>
          </md-card-actions>
        </md-card>
      </div>
        </div>


</div>
<md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen"
                     class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }"
                     ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab">
    <md-icon style="fill: white" md-svg-icon="img/palette.svg"></md-icon>
  </md-button>
</md-fab-trigger>
<md-fab-actions>
  <md-button class="md-fab md-raised md-mini" ng-click="theme.color = 'default'"><md-icon style="fill: blue" md-svg-icon="img/paint.svg"></md-icon></md-button>
  <md-button class="md-fab md-raised md-mini" ng-click="theme.color = 'altTheme'"><md-icon style="fill: red" md-svg-icon="img/paint.svg"></md-icon></md-button>
  <md-button class="md-fab md-raised md-mini" ng-click="theme.color = 'altTheme1'"><md-icon style="fill: orange" md-svg-icon="img/paint.svg"></md-icon></md-button>
  <md-button class="md-fab md-raised md-mini" ng-click="theme.color = 'altTheme2'"><md-icon style="fill: green" md-svg-icon="img/paint.svg"></md-icon></md-button>
</md-fab-actions>
  </md-fab-speed-dial>
