<md-content md-scroll-y>
<hgroup>

  <h1 class="grigio">Che Aspetti? Loggati</h1>
  <p class="azzurro">by D'Argenio Marco and Tosi Saverio</p>
<form ng-submit="login(username,password)">
  </hgroup>
<md-input-container>
           <label for="username">Username</label>
           <input id="username" data-ng-model="username" required="">
           <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">Attenzione! Questo dato è obbligatorio</div>
        </div>
      </md-input-container><br>
         <md-input-container  flex-gt-sm>
           <label for="inputPassword">Password</label>
           <input type="password" id="inputPassword" data-ng-model="password" required="">
           <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">Attenzione! Questo dato è obbligatorio</div>
        </div>
         </md-input-container>
         <md-button type="submit">Log in</md-button>
  <form>
</md-content>
