<div ng-if="!autenticato" class="container div-centrato">
  <form class="form-signin" data-ng-submit="login(username, psw)">
        <h2 class="form-signin-heading">Che aspetti? Loggati!</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="username" data-ng-model="username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" data-ng-model="psw" class="form-control" placeholder="password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
        <a href="#/registrati">Non sei registrato?</a>
</div>
<div ng-if="autenticato" class="container div-centrato">
  <h2 class="form-signin-heading">Sei sicuro che vuoi uscire!</h2>
  <button class="btn btn-lg btn-primary btn-block" ng-click="logout()">Log out</button>
</div>
