<md-toolbar>
  <div class="md-toolbar-tools md-whiteframe-z2" md-scroll-shrink>
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <i class="material-icons bianco">menu</i>
    </md-button>
    <h2>
      <span class="bianco">Operazioni</span>
    </h2>
  </div>
</md-toolbar>
<md-content>
  <div class="sfondo md-padding" layout="row" layout-xs="column" layout-wrap>
      <div flex-xs flex-gt-xs="50" ng-repeat="device in devices">
  <md-card>
    <md-toolbar class="md-whiteframe-z2">
      <div layout="row" layout-align="center center">
        <p class="bianco">Device numero {{$index + 1}}</p>
      </div>
    </md-toolbar>
    <md-card-title>
      <md-card-content>
        <strong class="azzurro">Nome:</strong> {{device.name}}<br>
        <strong class="rosso"> Descrzione:</strong> {{device.description}}<br>
        <strong class="arancione"> Tipo:</strong> {{device.type}}<br>
        <div ng-show="device.id_ibeacon !== 0" style="clear:both;">
            <strong class="verde"> Automatico  </strong><md-checkbox ng-model="device.automatic"  ng-change="saveDevice(device.id, device.automatic)">
          </md-checkbox>
        </div>
      </md-card-title>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-input-container>
        <label>Gpio</label>
        <md-select data-ng-model="device.id_GPIO" data-ng-change="change(device.id_GPIO, device.id)">
          <md-option ng-repeat="gpio in GPIOs | GPIOFilter:'output':device.id">
            {{gpio.GPIO}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>iBeacon</label>
        <md-select data-ng-change="changeBeacon(device.id, device.id_ibeacon)" data-ng-model="device.id_ibeacon" >
          <md-option ng-repeat="ibeacon.id as ibeacon.name for ibeacon in devices|BeaconFilter">{{ibeacon.name}}</md-option>
        </md-select>
      </md-input-container>
    </md-card-actions>
  </md-card>
</div>
</div>
</md-content>

<!--<div ng-repeat="device in devices"
<p><strong>Nome:</strong> {{device.name}}</p>
<p><strong>Descrizione:</strong> {{device.description}}</p>
<p><strong>Tipo:</strong> {{device.type}}</p>
<p>GPIO associato:
<select class="form-control" data-ng-options="gpio.id as gpio.GPIO for gpio in GPIOs|GPIOFilter:'output':device.id" data-ng-model="device.id_GPIO" data-ng-change="cambia(devices.id_GPIO, device.id)">
</select>
</p>
<p>iBeacon associato:
<select class="form-control" data-ng-options="ibeacon.id as ibeacon.name for ibeacon in devices|BeaconFilter" data-ng-change="cambiaBesacon(device.id, device.id_ibeacon)" data-ng-model="device.id_ibeacon">
</select>
</p>
<div ng-show="device.id_ibeacon !== 0" style="clear:both;">
Automatico:
<input  type="checkbox" ng-model="device.automatico"  ng-change="salvaDispositivo(dispositivo.id, dispositivo.automatico)">

</div>
