<md-toolbar class="colortoolbar">
  <div class="md-toolbar-tools md-whiteframe-z2" md-scroll-shrink>
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <i class="material-icons grigio">menu</i>
    </md-button>
    <h2>
      <span class="grigio">Gestione Operazioni</span>
    </h2>
  </div>
</md-toolbar>
<md-content>
  <div class="sfondo md-padding" layout="row" layout-xs="column" layout-wrap>
    <div flex-xs flex-gt-xs="50" ng-repeat="device in devices|DeviceOutputFilter">
      <md-card>
        <md-toolbar class="md-whiteframe-z2">
          <div layout="row" layout-align="center center">
            <p class="bianco">Device numero {{$index + 1}}</p>
          </div>
        </md-toolbar>
        <md-card-title>
          <md-card-content>
            <strong class="azzurro">Nome:</strong> {{device.name}}<br>
            <strong class="rosso"> Descrzione:</strong> {{device.description}}<br>
            <strong class="arancione"> Tipo:</strong> {{device.type}}<br>
            <div ng-show="device.id_ibeacon !== 0" style="clear:both;">
              <strong class="verde"> Automatico  </strong><md-checkbox ng-model="device.automatic"  ng-change="saveDevice(device)">
              </md-checkbox>
            </div>
          </md-card-title>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-input-container>
            <label>Gpio</label>
            <md-select data-ng-model="device.id_GPIO" data-ng-change="saveDevice(device)">
              <md-option data-ng-value="gpio.id" ng-repeat="gpio in GPIOs | GPIOFilter:'output':device.id">
                {{gpio.GPIO}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>iBeacon</label>
            <md-select data-ng-model="device.id_ibeacon" data-ng-change="saveDevice(device)">
              <md-option data-ng-value="ibeacon.id" data-ng-repeat="ibeacon in devices|BeaconFilter">{{ibeacon.name}}</md-option>
            </md-select>
          </md-input-container>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
