<md-dialog class="md-padding">
  <md-content>
    <div layout="column" layout-sm="column">
        <center><h2>{{user.username}}</h2></center>
      <md-input-container flex>
        <label for:"name">Nome</label>
        <input id="name"  data-ng-model="user.firstname">
      </md-input-container>
      <md-input-container flex>
        <label for:"surname">Cognome</label>
        <input id="surname"  data-ng-model="user.lastname">
      </md-input-container>
      <md-select data-ng-model="user.permission">
        <md-option data-ng-repeat="n in [] | range: 11">{{n}}</md-option>
      </md-select>
      <md-checkbox data-ng-model="user.block">Bloccato</md-checkbox>
      <md-button ng-click="editUser(user)">Aggiorna</md-button>
        <md-button class="md-container" ng-click="closeDialog()">Cancella</md-button>
    </div>
  </md-content>
</md-dialog>
