<div class="row centrato2">
  <div class="col-md-4">
  <div class="jumbotron">
  <h2>Admin</h2>
  <p>In questa pagina hai la possibilità di
  modificare e bloccare gli utenti.</p>
      <input data-ng-disabled="bloccato" class="btn btn-success" type="button" value="Aggiorna" data-ng-click="aggiorna()">
</div>
</div>
  <div class="col-md-8">
  <div class="jumbotron">
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr class="active">
      <th>Username</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Permessi</th>
      <th>Azioni</th>
    </tr>
  </thead>
    <tr data-ng-repeat="utente in utenti">
      <td>{{utente.username}}</td>
      <td>{{utente.firstname}}</td>
      <td>{{utente.lastname}}</td>
      <td>{{utente.permission}}</td>
      <td>
        <button class="btn btn-primary" data-ng-disabled="bloccato" data-ng-if="!utente.block" data-ng-click="blocca(utente)">Blocca</button>
        <button class="btn btn-primary" data-ng-disabled="bloccato" data-ng-if="utente.block" data-ng-click="sblocca(utente)">Sblocca</button>
        <button class="btn btn-primary" data-ng-click="modifica(utente.username)">Modifica</button>
        <button class="btn btn-primary" data-ng-click="controllaAttivita(utente.username)">Attività</button>
      </td>
    </tr>
  </table>
</div>
</div>
