.material-icons.md-48 { font-size: 48px; }
 .altezza  {
   height: :100%;
  }
.bianco {
  color: white
}
.azzurro { color: green; }
.grigio { color: #636363;}
hgroup {
	text-align:center;
	margin-top: 4em;
}
