.material-icons.md-48 { font-size: 48px; }
md-sidenav, .altezza  {
    height:100%;
  }
.bianco {
  color: white;
}
.sfondo {
  background-color: #CFD8DC;
}
.linea1 {
height: 5px;
background-color: red;
}
.linea2 {
  height: 2px;
  background-color: red;
  }
}
