.material-icons.md-48 { font-size: 48px; }
 .altezza  {
   height: 100%;
  }
.sfondo {background-color: #FAFAFA}
.bianco {color: white}
.lime {color: #a6d276;}
.verde { color: green; }
.rosso {color: red;}
.blu {color: blue;}
.arancione {color: orange;}
.grigio { color: #636363;}
.azzurro { color: #4AACD3;}
hgroup {
	text-align:center;
	margin-top: 4em;
}
.sroll{
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
.tabsdemoDynamicHeight {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
   }
    md-icon svg {
      fill: inherit;
    }
.logo{
   width: 50px;
    height: 50px;
 }
 .move-up {
  position: relative;
  top: -100px;
  z-index: 99;
}
.length {
  length: 300px;
}
.logo2{
  width: 400px;
  height: 141px;
}
