<!DOCTYPE html>
<html lang="it" ng-app="beaconApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Proximity System</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="socket/socket.io-1.4.5.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/signup.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/devices.js"></script>
    <script src="js/controllers/users.js"></script>
    <script src="js/controllers/user.js"></script>
    <script src="js/controllers/actions.js"></script>
    <script src="js/controllers/log.js"></script>
    <script src="js/controllers/signup_ibeacon.js"></script>
    <script src="js/controllers/gpio.js"></script>
    <script src="js/controllers/navbar.js"></script>
    <script src="js/controllers/add_device.js"></script>
    <script src="js/controllers/settings.js"></script>
    <script src="js/filters/io.js"></script>
    <script src="js/filters/gpio.js"></script>
    <script src="js/filters/devices.js"></script>
    <script src="js/filters/range.js"></script>
    <script src="js/services/login.js"></script>
    <script src="js/services/home.js"></script>
    <script src="js/services/users.js"></script>
    <script src="js/services/beacons.js"></script>
    <script src="js/services/devices.js"></script>
    <script src="js/services/gpio.js"></script>
    <script src="js/services/navbar.js"></script>
    <script src="js/services/theme.js"></script>
    <script src="js/services/settings.js"></script>
    <script src="js/services/socket.js"></script>
  </head>
  <body class="backgroud" layout="column" md-theme="{{ theme.color }}" md-theme-watch  ng-controller="NavigationController">
    <section layout="row" flex class="height">
      <md-sidenav ng-if="user.username !== ''" class="height md-whiteframe-z2 md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z2 md-hue-2" md-scroll-shrink>
          <center><p class="white">Proximity <strong>System</strong></p></center>
        </md-toolbar>
        <md-content class="height">
          <md-toolbar class="image"  layout="column" layout-align="start center">
            <span flex></span>
            <center><img src="{{user.photo}}" class="avatar">
              <p class="white">{{user.firstname}}</p>
            </center>
          </md-toolbar>
          <md-toolbar class="height md-hue-2">
            <md-list class="contact_list">
              <md-list-item ng-repeat="nav1 in nav">
                <md-button class="contactButton no-hover larghezza" href="{{nav1.link}}"  ng-class="md-raised" ng-click="toggleSidenav('left')">
                  <md-icon class="position_one" md-svg-icon="{{nav1.icon}}"></md-icon>
                  <p class="position white contact_list">{{nav1.name}}</p>
                </md-button>
              </md-list-item>
            </md-list>
          </md-toolbar>
        </md-content>
      </md-sidenav>
      <md-content class="background" layout="column" flex ng-view >
      </md-content>
    </section>
  </body>
</html>
