<md-toolbar class="colortoolbar">
  <div class="md-toolbar-tools md-whiteframe-z2" md-scroll-shrink>
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <i class="material-icons gray">menu</i>
    </md-button>
    <h2>
      <span class="gray">Gestione Operazioni</span>
    </h2>
  </div>
</md-toolbar>
<md-content>
  <div class="background md-padding" layout="row" layout-xs="column" layout-wrap>
    <div flex-xs flex-gt-xs="50" ng-repeat="device in devices|DeviceActionFilter">
      <md-card>
        <md-toolbar class="md-whiteframe-z2">
          <div layout="row" layout-align="center center">
            <p class="white">{{device.name}}</p>
          </div>
        </md-toolbar>
        <md-card-title>
          <md-card-content>
            <strong class="skyblue">Nome:</strong>{{device.name}}<br>
            <strong class="red">Descrzione:</strong>{{device.description}}<br>
            <strong class="arancione">Tipo:</strong>{{device.type}}<br>
            <div ng-show="device._Beacon" style="clear:both;">
              <strong class="green">Automatico</strong><md-checkbox ng-model="device.automatic" ng-change="saveDevice(device)">
              </md-checkbox>
            </div>
          </md-card-title>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-input-container>
            <label>Gpio</label>
            <md-select data-ng-model="device._GPIO" data-ng-change="saveDevice(device)">
              <md-option data-ng-value="gpio._id" ng-repeat="gpio in GPIOs | GPIOFilter:device.io === 'output' ? 'output' : 'input':device._id">
                {{gpio.GPIO}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container data-ng-if="device.io === 'output'">
            <label>iBeacon</label>
            <md-select data-ng-model="device._Beacon" data-ng-change="saveDevice(device)">
              <md-option data-ng-value="ibeacon._id" data-ng-repeat="ibeacon in devices|BeaconFilter">{{ibeacon.name}}</md-option>
            </md-select>
          </md-input-container>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
