<md-toolbar class="colortoolbar">
  <div class="md-toolbar-tools md-whiteframe-z2" md-scroll-shrink>
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <md-icon class="md-alt-text" md-svg-icon="img/hamburger.svg"></md-icon>
    </md-button>
    <h2>
      <span class="gray">Gestione Dispositivi</span>
    </h2>
  </div>
</md-toolbar>
<md-content>
  <div  class="md-padding background" layout="row" layout-xs="column">
    <div flex-xs flex-gt-xs="50" >
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Gestione dispositivi</span>
            <span class="md-subhead">In questa pagina hai la possibilità di aggiungere nuovi dispositivi,
              sia di ingresso che di uscita, e registrarne di nuovi, inizia subito cliccando il tasto +!
            </span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <md-card ng-if="beacons.length">
        <md-toolbar ng-if="beacons.length" hierachy-display class="md-whiteframe-z2">
          <center><p class="white">iBeacons non registrati:</p></center>
        </md-toolbar>
        <md-tabs ng-if="beacons.length" class="tabsdemoDynamicHeight" md-dynamic-height md-border-bottom>
          <md-tab ng-repeat="beacon in beacons|orderBy:'_id'" label="{{$index + 1}}">
            <md-content class="md-padding">
              <strong class="skyblue">Uuid:</strong>{{beacon.uuid}}<br>
              <strong class="red">Major:</strong>{{beacon.major}}<br>
              <strong class="orange"> Minor:</strong> {{beacon.minor}}<br>
              <md-tab-actions layout="row" layout-align="end right">
                <md-menu>
                  <md-button class="md-raised md-primary" ng-click="$mdOpenMenu()"><span class="white">azioni</span></md-button>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button  data-ng-click="deleteBeacon(beacon)"> <md-icon class="md-alt-text" md-svg-icon="img/delete.svg"></md-icon>
                        Elimina
                      </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                      <md-button ng-click="showAdd1(beacon)">
                        <md-icon md-svg-icon="img/penna.svg"></md-icon>Registra iBeacon
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-tab-actions>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50">
      <md-card ng-if="devices.length">
        <md-toolbar hierachy-display class="md-whiteframe-z2">
          <center><p class="white">Elenco Dispositivi:</p></center>
        </md-toolbar>
        <md-tabs class="tabsdemoDynamicHeight" md-dynamic-height md-border-bottom>
          <md-tab ng-repeat="device in devices|orderBy:'_id'" label="{{device.name}}">
            <md-content class="md-padding">
              <strong class="red">Nome:</strong>{{device.name}}<br>
              <strong class="orange">Io:</strong>{{device.io}}<br>
              <strong class="skyblue">Tipo:</strong>{{device.type}}<br>
              <strong class="green">Descrizione:</strong>{{device.description}}
              <md-tab-actions layout="row" layout-align="end right">
                <md-button class="md-raised md-primary" data-ng-click="deleteDevice(device)">
                  <md-icon style="fill: white" md-svg-icon="img/delete.svg"></md-icon><span class="white">Elimina</span>
                </md-button>
              </md-tab-actions>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card>
    </div>
  </div>
</md-content>
<md-button class="md-fab md-accent md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
  <md-tooltip md-direction="left">
    Aggiungi dispositivo
  </md-tooltip>
  <md-icon style="fill: white" md-svg-icon="img/add.svg"></md-icon>
</md-button>
