<md-toolbar hide-sm hide-xs class="height-tool">
</md-toolbar>
<div hide-sm hide-xs hierachy-display layout="row" layout-align="center start">
  <md-card class="move-up topcard" >
    <md-toolbar class="md-whiteframe-z2 image1">
    </md-toolbar>
    <div class="height1" layout="row" layout-align="center start">
      <img src="img/icon.png" class="md-whiteframe-z4 logo move-up-logo">
    </div>
    <div layout="row" layout-align="center start">
      <span class=" md-headline">Proximity <strong class="gray">System</strong></span>
    </div>
    <md-fab-speed-dial hide-xs hide-sm hide-gt-md ng-hide="demo.hidden" md-direction="down" md-open="demo.isOpen"
    class="md-scale md-fab-bottom-right move-up1" ng-class="{ 'md-hover-full': demo.hover }"
    ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-accent">
        <md-icon style="fill: white" md-svg-icon="img/palette.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme1')"><md-icon style="fill: blue" md-svg-icon="img/paint.svg"></md-icon></md-button>
      <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme')"><md-icon style="fill: red" md-svg-icon="img/paint.svg"></md-icon></md-button>
      <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme2')"><md-icon style="fill: green" md-svg-icon="img/paint.svg"></md-icon></md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
  <div>
    <md-card-title class="height2">
      <md-card-title-text >
        <center><span class="gray"> the love of a small action</span></center>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-if="user.username === ''" href="#/login">Login</md-button>
      <md-button ng-if="user.username !== ''" href="#/login">Logout</md-button>
    </md-card-actions>
  </div>
</md-card>
</div>
<md-fab-speed-dial hide-md hide-sm hide-xs ng-hide="demo.hidden" md-direction="down" md-open="demo.isOpen"
class="md-scale md-fab-bottom-right move-up2" ng-class="{ 'md-hover-full': demo.hover }"
ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
<md-fab-trigger>
  <md-button aria-label="menu" class="md-fab">
    <md-icon style="fill: white" md-svg-icon="img/palette.svg"></md-icon>
  </md-button>
</md-fab-trigger>
<md-fab-actions>
  <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme1')"><md-icon style="fill: blue" md-svg-icon="img/paint.svg"></md-icon></md-button>
  <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme')"><md-icon style="fill: red" md-svg-icon="img/paint.svg"></md-icon></md-button>
  <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme2')"><md-icon style="fill: green" md-svg-icon="img/paint.svg"></md-icon></md-button>
</md-fab-actions>
</md-fab-speed-dial>
<!-- grafica per cellulare -->
<div hide-gt-sm>
  <md-toolbar class="image2 md-tall md-whiteframe-z2">
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <md-icon class="md-alt-text white" md-svg-icon="img/hamburger.svg"></md-icon>
    </md-button>
  </md-toolbar>
  <div class="height1" layout="row" layout-align="center start">
    <img src="img/icon.png" class="md-whiteframe-z4 logo move-up-logo">
  </div>
  <div layout="row" layout-align="center start">
    <span class=" md-headline">Proximity <strong class="gray">System</strong></span>
  </div>
  <center><span class="gray"> the love of a small action</span></center>
  <div layout="column" layout-align="center center">
    <p flex> </p>
    <md-button class="md-raised md-primary white" ng-if="user.username === ''" href="#/login">Login </md-button>
    <md-button class="md-raised md-primary white" ng-if="user.username !== ''" href="#/login">Logout </md-button>
  </div>
  <md-fab-speed-dial hide-gt-md ng-hide="demo.hidden" md-direction="up" md-open="demo.isOpen"
  class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': demo.hover }"
  ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <md-icon style="fill: white" md-svg-icon="img/palette.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme1')"><md-icon style="fill: blue" md-svg-icon="img/paint.svg"></md-icon></md-button>
    <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme')"><md-icon style="fill: red" md-svg-icon="img/paint.svg"></md-icon></md-button>
    <md-button class="md-fab md-raised md-mini" ng-click="setTheme('altTheme2')"><md-icon style="fill: green" md-svg-icon="img/paint.svg"></md-icon></md-button>
  </md-fab-actions>
</md-fab-speed-dial>
</div>
