<md-toolbar class="colortoolbar">
  <div class="md-toolbar-tools md-whiteframe-z2" md-scroll-shrink>
    <md-button  hide-gt-sm ng-click="toggleSidenav('left')" class="md-icon-button" aria-label="Settings">
      <md-icon class="md-alt-text" md-svg-icon="img/hamburger.svg"></md-icon>
    </md-button>
    <h2>
      <span class="gray">Impostazioni</span>
    </h2>
  </div>
</md-toolbar>
<md-button data-ng-click="halt()">
  Spegni
</md-button>
<md-button data-ng-click="reboot()">
  Riavvia
</md-button>
<md-button data-ng-click="">
  Aggiorna ProximitySystem
</md-button>
<md-button data-ng-click="">
  Stop Proximity System
</md-button>
